body {
    background-color: black;
}
h1 {
    color: brown;
}
#nav {
    width: 160px;
    background-color: black;
    background-image: url(../images/menu.gif);
    background-repeat: no-repeat;
    float: left;
    padding: 200px 20px 50px;
}
#nav ul {
    padding-left: 0;
}
#nav a {
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #000;
    padding: 5px 30px;
    margin: 10px 0;
}
#nav a:hover {
    color: #f00;
    border: 1px solid #f00;
}
#top {
    height: 48px;
    background-image: url(../images/top.gif);
    background-repeat: no-repeat;
    background-position: 220px 0;
}
#main {
    margin: 0 10px 0 210px;
    background-color: #fff;
    padding: 10px;
    min-height: 95vh;
}