body {
    background-color: yellow;
    background-image: url(../images/dc.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 130% 130%;
}
h1 {
    color: blue !important;
}
h2 {
    color: brown;
}
h3 {
    color: darkgreen;
}
h1, h2, h3, a {
    font-family: 標楷體;
}
[href="/pages/translations/"] {
    color: red;
}